{% extends "blog/base.html" %}

{% block title %}Udostępnij post{% endblock %}

{% block content %}
    {% if sent %}
    <h1>Wiadomosc email zostala wyslana</h1>
    <p>Wyslanie posta "{{ post.title}}" do {{ cd.to }} zakonczylo sie sukcesem.</p>
    {% else %}
    <h1>udostępnij "{{ post.title }}" przez email</h1>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Wyślj wiadomość email">
    </form>
    {% endif %}
{% endblock %}